/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset some default styles for the list */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}
nav{
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 20px;
}
#nav-left{
    margin-right: 20px;
}
#nav-right{
    margin-left: 20px;
}

#first-button{
    padding: 12px;
    border-radius: 20px;
    border-style: none;
    background-color: #11BC7C;
    color: white;
}

.icon {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:20px;
    height:20px;
    color: black;
    background-color: white;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:#11BC7C;
}

#Logo-block{
    background-image: url('imgs/background-logo.jpg');
    background-size: cover;
    background-position: center;
    /* filter: blur(2px); */
}

#Logo img{
    max-height: 15%;
    max-width:15%;
    height: auto;
    box-shadow: 0px 0px 5px 2px #11BC7C;
    border-radius: 20%
    /* position: center; */
}

#Logo{
    display: flex;
    justify-content: center;
    /* position: center; */
    padding-top: 40px;
    padding-bottom: 80px;
}

#aboutUs{
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 170%;
    color: #11BC7C;
    padding-bottom: 20px;
}

h2 {
    font-weight: 700;
    font-size: 130%;
    padding-bottom: 20px;
}
#aboutUsText{
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

#aboutUs img{
    max-width: 30%;
    max-height: 30%;
    height: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

#feature{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    /* max-width: 40%; */
    text-align: center;
}

#feature-description{
    max-width: 40%;
    margin: 0 auto;
}

#feature-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.feature-item img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    padding-bottom: 10px;
}

.feature-item{
    max-width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}